@charset "UTF-8";

@charset "UTF-8";

/* 폰트 */
@font-face {
	font-family: 'Freesentation-9Black';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
		format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: 'SUIT-Regular', SUIT-Regular;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-fluid {
	background-color: white;
	padding: 0px !important;
	margin: 0 auto;
	margin-top: 85px;
	flex-grow: 1;
	
}

.container{
	max-width: 1080px;
}

/* 헤더 스타일 */
.container-fluid header {
    text-align: center;
}

.container-fluid header h2 a {
    font-family: 'Freesentation-9Black';
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.container-fluid header h7 {
    font-family: 'SUIT-Regular', SUIT-Regular;
    color: #808080;
    margin-bottom: 30px;
}

.ad img {
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	margin-bottom: 20px;
	max-width: 1080px;
	height: auto;
}

/* 테이블 스타일 */
table {
    background-color: white; /* 테이블 전체 배경색 흰색 */
border: 1px solid #ccc;
}

table thead {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    color: #1c1c1c;
    text-align: center;
    padding: 10px;
}

.best-posts {
	font-family: 'Pretendard-Regular', Pretendard-Regular;
    font-weight: bold;
	margin-top: 30px;
	font-size: 20px;
}

table thead tr th.text-center {
    border-bottom: 2px solid #0073e6 !important;
    color: #0073e6;
}

table tbody tr {
    background-color: white; /* 테이블 행 배경색 흰색 */
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

th, td {
    text-align: center;
    background-color: white; /* 테이블 헤더 및 데이터 셀 배경색 흰색 */
}

.left-align {
    text-align: left important;
}




.card-header{
	background-color: #fff;
	margin-top: 10px;
}

.category-button a{
	border-radius: 50px;
}

.search-container .col-auto{
	font-size: 0.9rem;
}

#search-create{
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.category-button{
	margin-bottom: 20px;
}