<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Golfro</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/main_details.css}">
<link rel="stylesheet" href="/css/footer.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
	rel="stylesheet">

</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>
	<main>
		<div
			class="container d-flex flex-column justify-content-center align-items-center">
			<div class=" container-fluid card border-0" th:object="${post}">

				<h2>LESSON</h2>
				<h7>골프에 대해 궁금한 점들을 물어보세요.</h7>
				<p class="d-none">
					현재 로그인 세션 PK : <input id="sessionUserId" type="hidden"
						th:value="${session.signedInUserId}" />
				</p>
				<p class="d-none">
					현재 로그인 세션 아이디: <input id="sessionUser" type="hidden"
						th:value="${session.signedInUser}" />
				</p>
				<p class="d-none">
					현재 로그인 세션 닉네임: <input id="sessionNickName" type="hidden"
						th:value="${session.signedInUserNickName}" />
				</p>
				<p class="d-none">
					글 작성자 아이디 : <input id="postAuthor" type="text"
						th:value="${post.userid}" />
				</p>
				<input type="hidden" id="postId" th:value="${post.id}" />



				<div class="mobile-header">
					<a href="/">LESSON > </a><span>골프에 대해 궁금한 점들을 물어보세요.</span>
				</div>

				<div class="card-header border-0 form-control container-fluid">
					<div class="category">
						<span class="cl"> 클럽종류 / </span> <span class="club"
							th:text="*{clubName}"></span>
					</div>
					<div class="mb-2">
						<span id="detailsTitle" th:text="*{title}"></span>
					</div>
					<div class="date-container mb-3">
						<p>
							<i class="bi bi-alarm"
								th:text="| 작성시간 : *{#temporals.format(createdTime, 'yyyy-MM-dd HH:mm:ss')}|"></i>
						</p>
						<p>
							<i class="bi bi-alarm-fill"
								th:text="| 수정시간 : *{#temporals.format(createdTime, 'yyyy-MM-dd HH:mm:ss')}|"></i>
						</p>
					</div>
				</div>

				<div class="mainTextArea">
					<div class="left">
						<video class="video-container" autoplay>
							<source th:src="*{mediaPath}" type="video/mp4">
						</video>
					</div>
					<div class="right form-control">
						<div
							class="nick-date d-flex justify-content-start align-items-start">
							<div class="nickname mb-2 px-1">
								<h7 th:text="*{nickname}"></h7>
								<div>
									<span
										th:text="*{height == null ? '키: 데이터 없음' : '키: ' + height + 'cm /'}"></span>
									<span
										th:text="*{career == null ? '구력: 데이터 없음' : '구력: ' + career + '년 /'}"></span>
									<span
										th:text="*{handy == null ? '헨디: 데이터 없음' : '헨디: ' + handy + ' /'}"></span>
									<span
										th:text="*{ironDistance == null ? '아이언 평균 거리: 데이터 없음' : '아이언 평균 거리: ' + ironDistance + 'm /'}"></span>
									<span
										th:text="*{driverDistance == null ? '드라이버 평균 거리: 데이터 없음' : '드라이버 평균 거리: ' + driverDistance + 'm'}"></span>
								</div>
							</div>
						</div>

						<div class="post">
							<div class="post-sticky mb-2">
								<div class="post-content">
									<p th:text="*{content}"></p>
								</div>
								<!-- 포커싱할 댓글 id -->
								<input type="hidden" id="focusComment" th:value="${focusComment}" />
							</div>

							<!-- 댓글 리스트 영역 -->
							<div class="comments-section form-control">
								<div class="form-group">
									<input class="form-control mt-2" type="hidden"
										id="signedInUser" required th:value="${session.signedInUser}" />
								</div>
							</div>
						</div>

						<div class="last-section">
							<div
								class="sub d-flex justify-content-between align-items-center">

								<!-- 조회수, 추천하기 영역 -->
								<div class="views-likes-container d-flex align-items-center">
									<span> <svg xmlns="http://www.w3.org/2000/svg"
											width="20" height="20" fill="currentColor" class="bi bi-eye"
											viewBox="0 0 20 20">
        								    <path
												d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
       									     <path
												d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
    									    </svg> <span th:text="|*{views}|"></span>
									</span>

									<button id="likes" class="likes"
										onclick="toggleHeart()">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"
											id="heart-icon">
      									      <path
												d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
    								    </svg>
									</button>

									<p id="likesCounts" th:text=" *{likes}|"></p>
								</div>

								<script>
function toggleHeart() {
    const heartIcon = document.getElementById('heart-icon');
    if (heartIcon.classList.contains('bi-heart')) {
        heartIcon.outerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
            </svg>`;
    } else {
        heartIcon.outerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" id="heart-icon">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>`;
    }
}
</script>




								<!-- 하단 수정하기, 삭제 버튼 영역 -->
								<div class="dropdown">
									<button
										th:if="${session.signedInUser eq post.userid or session.signedInUser eq 'admin'}"
										class="btn dropdown-toggle" type="button"
										id="dropdownMenuButton" data-bs-toggle="dropdown"
										aria-expanded="false">
										<script th:src="@{/js/commentsSub.js}"></script>
										<i class="bi bi-three-dots"></i>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<li>
											<button class="dropdown-item btnModifyid">수정하기</button>
										</li>
										<li>
											<button class="dropdown-item btnDeleteMainPost">삭제하기</button>
										</li>
									</ul>
								</div>



							</div>

							<div>
								<!-- 전문가 승인이 완료된 회원의 경우 -->
								<div th:if="${session.signedInUserGrade.id == 'G10'}">
									<textarea class="form-control" id="content" name="ctext"
										rows="3" required placeholder="피드백을 작성해주세요."></textarea>
								</div>

								<!-- 전문가 승인이 완료되지 않은 회원의 경우 -->
								<div th:unless="${session.signedInUserGrade.id == 'G10'}">
									<textarea class="form-control" id="finishContent"
										readonly="readonly">전문가 승인이 완료된 회원만 작성 할 수 있습니다.</textarea>
								</div>
							</div>

							<!-- 전문가 승인이 완료된 회원만 버튼이 노출 -->
							<div th:if="${session.signedInUserGrade.id == 'G10'}">
								<button id="btnRegisterComment" class="btn form-control">피드백
									작성하기</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="~{fragments/footer :: footer}"></footer>

	<!-- 부트스트랩 -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/script.js}"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/top_button.js}"></script>
	<script th:src="@{/js/commentsJS.js}"></script>
</body>
</html>