<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>footer</title>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
</head>

<body>
    <div th:fragment="footer">
        <div class="footer-golfro">
            <div>
                <ul class="footer-links">
                    <li>회사소개</li>
                    <li>이용약관</li>
                    <li>연락처</li>
                    <li>광고문의</li>
                    <li>공지사항</li>
                    <li>개인정보처리방침</li>
                </ul>
                <p class="footer-info">
                    상호명 : 골프로 | 대표이사 : 권이배 | 주소 : 강남역 1번출구 도보 150m 역삼역
                    3번출구 도보 120m 삼원타워 4층 <br> 고객센터 :
                    golfro@gaebokchi.net (영업시간 평일 10:00~17:00) 주말 · 공휴일
                    휴무
                </p>
            </div>

            <div class="footer-bottom text-center">
                <span>Copyright ⓒ - 2024 GOLFRO. All rights
                    reserved.</span>
            </div>
        </div>
    </div>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>