
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>게시물 상세보기</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
	rel="stylesheet">
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="/css/comm_details.css" />

<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
</head>


<body>
	<header th:replace="~{fragments/header :: header}"></header>

	<main>
		<div
			class="d-flex flex-column justify-content-center align-items-center p-3 mb-5">
			<div class="container-fluid" th:object=${post}>

				<div class="top-ad-banner">
					<img th:src="@{/images/ad-2.png}" alt="이벤트를 부탁해 광고 배너">
				</div>
				<div class="comm-post">

					<div class="comm-left p-3">
						<span class="community_title">커뮤니티</span>
						<div class="createBtn px-2">
							<th:block th:if="${session.signedInUser != null}">
								<!-- signedInUser가 있는 경우: 글쓰기 링크 -->
								<a th:href="@{/community/comm_create}" class="form-control btn"><i
									class="bi bi-pencil-fill"></i> 글쓰기</a>
							</th:block>
							<th:block th:unless="${session.signedInUser != null}">
								<!-- signedInUser가 없는 경우: 로그인 링크 -->
								<a th:href="@{/user/signin}" class="form-control btn">로그인</a>
							</th:block>
						</div>

						<a th:href="@{/community/comm_main}" class="all-post-btn px-2">
							<i class="bi bi-list"> </i>전체 게시글
						</a>
						<div class="cate-post-btn px-2">카테고리</div>
						<a
							th:href="@{http://localhost:8080/community/comm_main?post-cate=F001&search-category=t&keyword=}"
							class="cate-post-btn px-2"> <i class="bi bi-dot"></i> 잡담
						</a><a
							th:href="@{http://localhost:8080/community/comm_main?post-cate=F002&search-category=t&keyword=}"
							class="cate-post-btn px-2"> <i class="bi bi-dot"></i> 팁/노하우
						</a><a
							th:href="@{http://localhost:8080/community/comm_main?post-cate=F003&search-category=t&keyword=}"
							class="cate-post-btn px-2"> <i class="bi bi-dot"></i> 라운드 후기
						</a>
					</div>
					<div class="comm-middle ">
						<!-- 이전글, 다음글, 목록보기 버튼 영역 -->
						<div class="pre-next d-flex justify-content-end mb-3">
							<a
								th:href="${previousPost == null ? '#' : '/community/details/' + previousPost.id}"
								class="btn btn-outline-secondary"
								th:classappend="${previousPost == null ? 'disabled' : ''}">
								<i class="bi bi-chevron-up"></i> 이전글
							</a> <a
								th:href="${nextPost == null ? '#' : '/community/details/' + nextPost.id}"
								class="btn btn-outline-secondary"
								th:classappend="${nextPost == null ? 'disabled' : ''}"> 다음글
								<i class="bi bi-chevron-down"></i>
							</a>
						</div>




						<div class="card">
							<div class="card-header">
								<small class="card-category" th:text="*{category.name}"></small>
								<input type="hidden" id="postId" th:value="*{id}" />
								<h3 class="card-title" th:text="*{title}"></h3>
								<span><i class="bi bi-person" th:text="*{user.nickname}"></i></span></br>
								<div class="d-flex justify-content-between">
									<div class="title-info mt-2">
										<i class="bi bi-clock"></i> <small class="text-black"
											th:text="*{#temporals.format(createdTime, 'yyyy-MM-dd HH:mm:ss')}"></small>
										<span><i class="bi bi-eye" th:text="*{views}"></i></span> <span><i
											class="bi bi-hand-thumbs-up" th:text="*{likes}"></i> <span
											id="likesCount"></span></span> <span><i
											class="bi bi-chat-dots" th:text="${commentcount}"></i></span>

									</div>
									<div class="d-flex align-items-center">
										<div class="url-copy-container">
											<span id="copyMessage" class="text-success"
												style="display: none;">주소가 복사되었습니다!</span>
											<button id="btnCopyUrl" class="btn btn-custom">
												<i class="bi bi-share"></i>
											</button>
										</div>
										<script>
											document
													.getElementById(
															'btnCopyUrl')
													.addEventListener(
															'click',
															function() {
																const currentUrl = window.location.href;
																navigator.clipboard
																		.writeText(
																				currentUrl)
																		.then(
																				function() {
																					const message = document
																							.getElementById('copyMessage');
																					message.style.display = 'inline';
																					setTimeout(
																							function() {
																								message.style.display = 'none';
																							},
																							2000);
																				},
																				function(
																						err) {
																					console
																							.error(
																									'URL 복사 실패: ',
																									err);
																				});
															});
										</script>

										<!-- Dropdown button next to the share button -->
										<div th:if="${session.signedInUser != null}"
											class="dropdown ms-2">
											<i class="bi bi-three-dots" id="dropdownMenuButton"
												data-bs-toggle="dropdown" aria-expanded="false"
												style="cursor: pointer;"></i>
											<ul
												class="dropdown-menu dropdown-menu-end custom-dropdown-menu"
												aria-labelledby="dropdownMenuButton">
												<th:block
													th:if="${session.signedInUser == post.user.userid or session.signedInUser == 'admin'}">
													<form th:action="@{/community/comm_modify/{id}(id=*{id})}"
														method="get" style="display: inline;">
														<button type="submit" id="modifyDelete"
															class="btn btn-custom ms-2">수정하기</button>
													</form>
													<button id="btnDelete" class="btn btn-custom ms-2">삭제하기</button>
												</th:block>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="card-body">
								<div class="post-info d-flex justify-content-between mb-3">


								</div>
								<div class="post-content">
									<th:block th:ift="*{media != null}">
										<div class="image-container">
											<img alt="" th:src="@{${post.media}}"
												class="img-fluid max-size">
										</div>
									</th:block>
									<div th:text="*{content}"></div>
								</div>

								<!-- 게시글 좋아요 버튼 영역(이걸 왜 로그인 세션에 대한 조건부 걸어놨는지 이해가 1도 안 됨) -->
								<div class="position-relative mb-4 text-end">
									<th:block th:if="${session.signedInUser eq {post.user.userid}}">
										<!-- 로그인한 사용자가 있을 때의 버튼 -->
										<button id="btnLikes" class="btn btn-like btn-lg btn-custom">
											<i class="bi bi-hand-thumbs-up-fill"> 추천하기</i>
										</button>
									</th:block>
									<th:block th:if="${session.signedInUser != {post.user.userid}}">
										<!-- 로그인한 사용자가 없을 때의 처리 -->
										<button id="btnLikes-notloggedIn"
											class="btn btn-like btn-lg btn-custom">
											<i class="bi bi-hand-thumbs-up-fill"> 추천하기</i>
										</button>
									</th:block>
								</div>

								<!-- 게시글 삭제/수정하기 영역 
								<div class="d-flex justify-content-end mt-2">
									<th:block
										th:if="${session.signedInUser == post.user.userid or session.signedInUser == 'admin'}">
										<form th:action="@{/community/comm_modify/{id}(id=*{id})}"
											method="get" style="display: inline;">
											<button type="submit"
												class="btn btn-outline-primary btn-custom ms-2">✏️수정</button>
										</form>
										<button id="btnDelete"
											class="btn btn-outline-danger btn-custom ms-2">🗑️삭제</button>
									</th:block>
								</div> -->







								<!-- 댓글 작성 영역 -->

								<th:block th:if="${session.signedInUser != null}">
									<form class="comment-form">
										<div class="text-left">
											<span><i class="bi bi-chat-dots"></i> 댓글 목록</span> <span>|
												<span th:text="${commentcount}"></span>개의 답변
											</span>
										</div>
										<div class="input-group row mt-2">
											<input name="author" id="author" type="hidden"
												class="form-control" th:value="${session.signedInUserId}">

											<div class="content-area justify-content-center col-12">
												<div class="content-input">
													<textarea name="content" id="content" class="form-control"
														rows="3" placeholder="댓글을 입력하세요"></textarea>
												</div>
												<div class="submit-btn">
													<input type="hidden" name="postId" th:value="*{id}">
													<button id="btnRegisterComment"
														class="btn btn-register-comment" type="submit">등록</button>
												</div>
											</div>
										</div>
									</form>
								</th:block>




								<!-- 포커싱할 댓글 id -->
								<input type="hidden" id="commentId" value="${commentId}" />
								<div class="comment-list row">
									<th:block th:each="commentlist:${commentlist}"
										th:object="${commentlist}">
										<div class="comment col-12"
											th:id="|comment-${commentlist.id}|">
											<!-- 댓글 작성자, 내용영역 -->
											<b th:text="${commentlist.user.nickname}"></b>
											<div class="mainComment">
												<p th:text="*{content}"></p>
												<div
													class="d-flex justify-content-between align-items-center">
													<small class="text-muted"
														th:text="*{#temporals.format(createdTime, 'yyyy-MM-dd HH:mm:ss')}"></small>
													<input type="hidden" name="commentId"
														th:value="${commentlist.id}">

													<!-- 댓글 수정/삭제 버튼 영역 -->
													<div>
														<th:block
															th:if="${commentlist.user.userid == session.signedInUser or session.signedInUser == 'admin'}">
															<button id="btnUpdateComment"
																class="btn btn-register-comment" type="submit">수정</button>
															<input type="hidden" name="commentId"
																th:value="${commentlist.id}">
															<input type="hidden" id="userid"
																th:value="${commentlist.user.id}">
															<button id="btnDeleteComment"
																class="btn btn-register-comment" type="submit">삭제</button>
														</th:block>
													</div>
												</div>
											</div>
										</div>
									</th:block>
								</div>
							</div>
						</div>
					</div>
					<div class="comm-right">

						<div class="best-posts">BEST 실시간 인기글</div>

						<!-- 첫 번째 테이블 (잡담) -->
						<div class="table-container">
							<table class="table">
								<thead>
									<th class="text-center mt-2" colspan="3">잡담</th>
								</thead>
								<tbody>
									<th:block th:each="F001 : ${top5ByF001}">
										<tr class="table">
											<td class="left-align-bold"><a
												th:href="@{{id}(id=${F001.id})}" class="custom-link"
												th:text="${F001.title}"></a></td>

											<td><i class="bi bi-hand-thumbs-up"
												th:text="| ${F001.likes}|"></i></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>

						<!-- 두 번째 테이블 (팁/노하우) -->
						<div class="table-container">
							<table class="table">
								<thead>
									<tr>
										<th class="text-center mt-2" colspan="3">팁/노하우</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="F002 : ${top5ByF002}">
										<tr class="table">
											<td class="left-align-bold"><a
												th:href="@{{id}(id=${F002.id})}" class="custom-link"
												th:text="${F002.title}"></a></td>

											<td><i class="bi bi-hand-thumbs-up"
												th:text="| ${F002.likes}| + '&nbsp;&nbsp;&nbsp;'"></i></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>





					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="~{fragments/footer :: footer}"></footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

	<script th:src="@{/js/comm_details.js}"></script>
</body>
</html>